div.task-desc {
    padding: 5px;
}

div.task-countdown {
    padding: 5px;
    font-size: 25px;
}
.task-list md-whiteframe {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.add-todo md-whiteframe {
    margin-bottom: 15px;
}

.task-done md-button {
    margin-right:20px;
}

form > .row {
    margin-left: -8px; }
.row > * {
    font-size: inherit;
    margin-left: 8px;
    margin-right: 8px; }
