<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="crunchtimeApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="crunchtimeApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="crunchtimeApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="crunchtimeApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>crunchtime.</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/default-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/red-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/yellow-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/green-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/orange-theme.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="crunchtimeAppCtrl">
<div layout="vertical" layout-align="start center">
<div></div>
  <div><h1>crunchtime.</h1> </div>
  <div flex md-theme="orange">
    <md-button ng-click="googleAuth()" class="md-button" aria-label="Sign in with Google to save your tasks" ng-hide="loggedIn">
      Sign in with Google to save your tasks.</md-button>
  </div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
  <div class="add-todo">
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" md-theme="orange">
      <md-content>
        <form name="addForm" novalidate style="padding:20px">
          <div layout="vertical" layout-md="horizontal" layout-align="center center" class="row">
            <md-text-float label="Task" ng-model="newTodo" required></md-text-float>
            <md-text-float label="Date" ng-model="dueDate" type="number" required></md-text-float>
            <md-text-float label="Month" ng-model="dueMonth" type="number" required></md-text-float>
            <md-text-float label="Year" ng-model="dueYear" type="number" required></md-text-float>
            <md-button ng-click="add()" class="md-raised md-primary" ng-disabled="!addForm.$valid" aria-label="Add Task">Add Task</md-button>
          </div>
          </form>
      </md-content>
    </md-whiteframe>
  </div>

  <div layout="vertical" layout-fill class="task-list">
    <md-content ng-repeat="todo in todos | orderBy: 'endTime'" >
      <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" md-theme="{{todo.theme}}" md-theme-watch="true">
        <div class=" md-tile-content">
          <div class="task-desc">{{todo.description}}</div>
          <div class="task-countdown">{{todo.countdown}}</div>
          <md-progress-linear mode="determinate" ng-value="todo.percentageCompleted" md-theme-watch="true"></md-progress-linear>
        </div>
        <div class="md-tile-right task-done"><md-button ng-click="done(todo.description)" class="md-raised" aria-label="Done with {{todo.description}}">Done</md-button></div>
      </md-whiteframe>
    </md-content>
  </div>

  <div flex md-theme="orange">
    <md-button ng-click="googleDeauth()" class="md-button" aria-label="Sign out" ng-show="loggedIn">
    Sign out?</md-button>
  </div>

</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/hammerjs/hammer.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="js/controllers.js"></script>
<script src="js/app.js"></script>
</body>
</html>